:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Agbalumo", cursive;

  --color-primary: #fea97b;
  --color-secondary: #ffc18a;
  --color-tertiary: #f18c56;

  --text-light-color: #fff;

  --font-size-primary: 16px;
  --font-size-secondary: 22px;
  --font-size-tertiary: 30px;

  --box-shadow-primary: 0 0 3px 0 #00000020, 0 0 1px 0 #00000040;

  --bg-color-primary: #fff;
  --bg-color-secondary: #000;

  --border-radius-primary: 0.62rem;
  --border-radius-secondary: 1.2rem;
}

@-moz-document url-prefix() {
  :root {
    --box-shadow-primary: 0 0 3px 0 #00000010, 0 0 1px 0 #00000030;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2,
span {
  cursor: default;
}

.html {
  font-size: var(--font-size-primary);
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-secondary);
  min-height: 100vh;
  color: var(--color-primary);
  font-family: var(--font-primary);
}

.main {
  background-color: var(--bg-color-primary);
  width: 63rem;
  height: 38rem;
}

.market {
  display: flex;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.container-shopping-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--box-shadow-primary);
  width: 16rem;
}
.cart-header,
.products-header {
  color: var(--color-secondary);
  font-family: var(--font-secondary);
  text-align: center;
}

.cart-header {
  height: 4rem;
  line-height: 4rem;
}
.cart-title {
  font-size: var(--font-size-secondary);
}

.items {
  padding: 0.6rem;
  height: 30rem;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--color-secondary) #00000000;
}
.items::-webkit-scrollbar-button {
  display: none;
}
.items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
  box-shadow: var(--box-shadow-primary);
  border-radius: var(--border-radius-primary);
  height: 2rem;
  overflow: hidden;
}
.item-quantity {
  width: 2.4rem;
  text-align: center;
}

.btn-remove-item {
  transition: background-color ease 250ms;
  cursor: pointer;
  border: none;
  background: none;
  width: 2.4rem;
  height: 100%;
}
.btn-remove-item:hover {
  background-color: var(--color-secondary);
}
.btn-remove-item:hover:active {
  background-color: var(--color-tertiary);
}
.btn-remove-item:hover::after {
  background-color: var(--text-light-color);
}
.btn-remove-item::after {
  display: inline-block;
  position: relative;
  top: -2px;
  border-radius: 0.6rem;
  background-color: var(--color-primary);
  width: 12px;
  height: 3px;
  content: "";
}

.container-total-value {
  display: flex;
  align-items: center;
  height: 4rem;
}
.total-value {
  display: flex;
  margin: 0 0.6rem;
  box-shadow: var(--box-shadow-primary);
  border-radius: var(--border-radius-primary);
  width: 100%;
  height: 2rem;
  line-height: 2rem;
}
.total-value .text,
.total-value .value {
  flex: 1;
  text-align: center;
}

.shopping-area {
  width: 47rem;
}

.container-products {
  margin: 1rem 1rem 0;
  box-shadow: var(--box-shadow-primary);
  border-radius: var(--border-radius-secondary);
  height: 32rem;
}

.products-header {
  height: 3.5rem;
  line-height: 3.5rem;
}
.products-title {
  font-size: var(--font-size-tertiary);
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1.2rem;
  padding: 0.5rem 1rem 1rem;
  height: calc(100% - 3.5rem);
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--color-secondary) #00000000;
}
.products::-webkit-scrollbar-button {
  display: none;
}
@-moz-document url-prefix() {
  .products {
    gap: 1.4rem;
  }
}

.product {
  cursor: pointer;
  box-shadow: var(--box-shadow-primary);
  border-radius: var(--border-radius-primary);
  width: 6rem;
  height: 8rem;
  text-align: center;
}
.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}
.product-img img {
  transition: ease 250ms;
  width: 3rem;
}
.product:hover .product-img img {
  transform: scale(1.15);
}

.container-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.input-buy,
.btn-buy {
  margin: 0 0.5rem;
  border-radius: var(--border-radius-secondary);
  padding: 0 2rem;
  height: 2.5rem;
  font-size: var(--font-size-primary);
  font-family: var(--font-primary);
  text-align: center;
}
.input-buy {
  outline: none;
  border: 1px solid #00000019;
  width: 13rem;
  color: var(--color-secondary);
}
.input-buy::placeholder {
  color: #00000032;
}

.btn-buy {
  transition: ease-out 250ms;
  cursor: pointer;
  border: none;
  background-color: var(--color-secondary);
  width: 9rem;
  color: var(--text-light-color);
}
.btn-buy:hover {
  transform: scale(1.05);
  background-color: var(--color-primary);
}

.receipt-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.receipt {
  border-radius: var(--border-radius-secondary);
  background-color: var(--bg-color-primary);
  width: 22rem;
  overflow: hidden;
}

.receipt-title {
  padding: 0.8rem 0;
}

.receipt-title,
.receipt-products-title {
  text-align: center;
}

.receipt-title,
.receipt-products-title,
.receipt-footer {
  background-color: var(--color-primary);
  color: var(--text-light-color);
  font-size: var(--font-size-secondary);
}

.receipt-info-container,
.receipt-products,
.receipt-footer {
  padding: 0.4rem 0.8rem;
}

.receipt-info,
.receipt-product,
.receipt-footer {
  display: flex;
  justify-content: space-between;
}

.receipt-products-title {
  padding: 0.4rem 0;
}
